/* Dashboard.css */

.welcome-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff; /* light background */
  animation: fadeSlideIn 3s ease-in-out, hold 1s forwards;
}

.welcome-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  animation: popIn 3s ease-in-out;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translateY(0px) scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hold {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
